<ion-content>
<div id="content">
  <div class="text">
    <h1>Enrichment Instructor</h1>
    ​
    <div class="TFSpace"></div>

    <h2>Job Descriptions</h2>
    <p>
      Teach an average of 2 to 5 classes weekly as per respective Tiny Techs
      Club curriculum. <br />
      Each class runs between 1-2 hours long; class size ranges from 10-20
      students. <br />
      Facilitate classes and engage students effectively to follow instructions.
      <br />
      Assist senior teachers as needed and guide students who need help building
      robots or animations. <br />
      Utilize computers with WeDo and SCRATCH software equipment in student
      instruction. <br />
      Supervise students waiting to be picked up from school and/or escort
      students from class to daycare, as needed. <br />
      Prepare and sort lesson plans, LEGO WeDo kits and laptops, rosters, cards,
      and handouts before each class. <br />
      Coordinate with Owner, Office Manager, and coworkers to share, transport,
      and pick up laptops, kits, and handouts. <br />
      Maintain accurate attendance records with rosters and report any student
      absences, noteworthy incidents, and/or damaged or missing LEGO and
      computer parts to Owner and Office Manager. <br />
      Abide by and follow respective school rules and policies. <br />
      Lift up to 30 lbs. of equipment (laptops, kits, etc).
    </p>
    ​
    <div class="TFSpace"></div>
    ​
    <h2>Qualifications</h2>
    <p>
      The ideal candidate is: <br />
      Is flexible and available for at least 2 classes during the M-F week (Each
      class is typically 1-2 hours long and within a 12:30 pm to 5:00 pm
      timeframe). <br />
      Likes working with kids. Is energetic, patient, disciplined — is able to
      teach and handle a class of 10-20 students who are at K-5th grade level.
      <br />
      Knows how to use and operate Windows computers. <br />
      Is responsible, reliable, and never late. <br />
      Has access to reliable transportation that allows for travel from school
      to school and can safely transport heavy equipment (ie- WeDo LEGO kits,
      laptops, etc.). <br />
      Communicates well with Owner, coworkers, and staff via in-person, phone,
      text, and email Knowledge of mechanisms (eg- gears, pulleys, levers,
      motors, etc.), as well as WeDo and SCRATCH software are pluses. <br />
      Likes working in a fast-paced environment and can handle unexpected
      circumstances (eg- schedule or equipment changes, etc.). <br />
      Successfully completes a background check, fingerprint scan, and TB test
      upon hiring.
    </p>
    ​
    <div class="TFSpace"></div>
    ​
    <h2>Locations</h2>
    <p>
      We are looking for teachers who can travel to any of the following
      assigned locations:
    </p>
    ​
    <div class="location">
      <h3 style="font-weight: bold">California</h3>
      <ul>
        <li>Berkeley/Oakland</li>
        <li>Concord/Walnut Creek</li>
        <li>San Ramon/Danville</li>
        <li>San Jose/Los Gatos</li>
      </ul>
    </div>

    <div class="HoursSpace"></div>
    ​
    <h2>Hours</h2>
    <p>
      Paid teacher training takes place at various intervals throughout.
      <br />
      Classes take place Monday through Friday. <br />
      Individual schedule varies. <br />
      Paid prep time as needed for classes. <br />
      Job Type: Part-time <br />
      For further inquiries, feel free to email us at tinytechsjobs@gmail.com
    </p>
    ​
  </div>
</div>
<app-footer></app-footer>
</ion-content>