#content {
    position: relative;
    margin-top: 152px;
    width: 100%;
    height: auto;
    overflow-y: auto;
}
.text{
    width: 1082px;
    height: 1300.09px;
    margin-top: 100px;
    margin-left: 230px;
    // margin: 100px 128px 0 230px;
}
.text h1 {
    margin: 0px 0px 0px -2px;
    font-family: "Poppins Bold";
    font-size: 36px;
    line-height: 54px;

    color: #000000;
}
.eiHeader{
    font-family: "Poppins Bold";
    font-size: 24px;
    line-height: 36px;

    color: #000000;
}
.job-description {
    margin: -4px 0px 0px -2px;
}
.eiParagraph{
    font-family: "Poppins Regular";
    font-size: 18px;
    line-height: 27px;

    color: #000000;
}
.job-descriptionParagraph {
    margin: -3px 0px 0px -2px;
}
.qualificationsH2{
    margin: 12px 0px 0px -2px;
}
.qualificationsParagraph{
    margin: -3px 0px 0px -2px;
}
.locationsH2{
    margin: -2px 0px 0px 6px;
}

.locationsParagraph{
    margin: 0px 0px 0px 6px;
}
.list-header{
    margin: -10px 0px 0px 24px;

    font-family: "Poppins Bold";
    font-size: 18px;
    line-height: 27px;

    color: #000000;
}
.list-ul{
    margin: 0;
}
ul {
    list-style: none;
}
ul li::before {
    content: "\2022";
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    display: inline-block; 
    width: 0.9em;
    margin-left: -1em;

}
.hoursH2{
    margin: 0px 0px 0px -2px;
}
.hoursParagraph{
    margin: -2px 0px 0px -2px;
}

// Form Div
.form-div{
    position: relative;
    width: 1184px;
    height: 1006px;
    left: calc((100% - (1184px))/2 );
    margin-top: 95px;
    margin-bottom: 150px;
    background: #F2F2F2;
    border-radius: 10px;
}
.form-div-rectangle-text{

    position: absolute;
    margin: 74px 0px 0px 104.67px;
    font-family: "Poppins Bold";
    font-size: 24px;
    line-height: 36px;
    color: #000000;

}
.share-text{
    position: absolute;
    margin: 115px 0px 0px 104.67px;

    font-family: "Poppins Regular";
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
.buttons-div{
    position: absolute;
    margin: 194.48px 0px 0px 104.67px;

    width: 320.53px;
    height: 60.52px;
    background-color: var(--ion-color-TTCLime);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.button-text{
    font-family: "Poppins Regular";
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.ur-buttons-div{
    position: absolute;
    margin: 194.48px 0px 0px 475.31px;

    width: 320.53px;
    height: 60.52px;
    background-color: var(--ion-color-TTCLime);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.ur-button-text{
    position: absolute;
    left: 110px;

    font-family: "Poppins Regular";
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.upload-img{
    position: absolute;

    width: 35px;
    height: 25px;
    left: 40px;
    top: 18px;

}
.form-div-1{
    position: absolute;
    margin: 305px 0px 0px 102px;
    width: 976px;
    height: 190.15px;

    border-top: 2px solid #FFFFFF;

    font-family: "Poppins Regular";
    font-size: 14px;
    line-height: 21px;

    color: #000000;
}

.form-div-1-inner{
    width: 100%;
    margin-top: 35px;
    height: 141.15px;
}
.form-div-1-inner-body1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 55.07px
}
.group-107{
    width: 466.07px;
    height: 100%;
}
.label-div{
    width: 100%;
    height: 20px;
}
.required-star{
    color: red;
}
.input-div{
    margin-top: 5px;
    width: 100%;
    height: 30px;
}
.input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 20px;
}
.group-106{
    width: 465.89px;
    height: 100%;
    left: 552.22px;
    margin-left: 41.57px;
}
input:focus {
    border: 1px solid #000000;
}
.form-div-1-inner-body2{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 55.07px
}
.form-div-2{
    position: absolute;
    margin: 545.15px 0px 0px 102px;
    width: 976px;
    height: 260.83px;

    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;

    font-family: "Poppins Regular";
    font-size: 14px;
    line-height: 21px;

    color: #000000;
}
.input-div2{
    margin-top: 12px !important;
    background-color: #FFFFFF;
}
.input-div3{
    margin-top: 40px !important;
    width: 287.23px !important;
}
.custom-select-wrapper {
    width: 100%;
    height: 30px;
    margin-top: 12px !important;
    background-color: #FFFFFF;
    user-select: none;
}
.select-border{
    border: 1px solid #000000;
}
.custom-select {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.custom-select__trigger {
    position: relative;
    display: flex;
    font-family: "Poppins Regular";
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    cursor: pointer;
    padding-top: 2px;
    padding-left: 20px;   
}
.custom-options {
    position: absolute;
    display: block;
    width: 100%;
    height: 125px;
    margin-top: 30px;
    
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    border: 1px solid var(--ion-color-TTCGray2);
}
.options{
    padding-left: 20px;
}
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;    
    padding-top: 5px;
    height: 31px;
    font-family: "Poppins Regular";
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-option:hover {
    cursor: pointer;
}
.custom-option.selected {
    color: #000000;
    background-color: #C8EBFF;
    border-top: 1px solid var(--ion-color-TTCGray2);
    border-bottom: 1px solid var(--ion-color-TTCGray2);
}
.arrow {
     margin-right: 10px;
     padding-top: 5px;
}
.submit-button {
    position: absolute;
    bottom: 80px;
    left: 105px;

    font-family: "Poppins Regular";
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    background: var(--ion-color-TTCLime);
    border-radius: 8px;
    width: 284px;
    height: 70px;
}
.submit-button:focus {
    outline: none !important;
}
.error-border-class{
    border:1px solid #E85245 !important;
    outline: none;
}
.error-message{
    color: #FF0000;
}
@media (max-width: 1310px) { 
    .text{
        width: 1082px;
        height: 1300.09px;
        margin-top: 100px;
        margin-left: calc((100% - (1082px))/2 );
    }
}
@media (max-width: 1130px) { 
    .text{
        width: 95%;
        height: 1300.09px;
        margin-top: 100px;
        margin-left: 3%;
    }
}
