<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
​
<ion-content>
  <div>
    <!-- <lottie-player src="https://assets9.lottiefiles.com/temp/lf20_LXKeBI.json"  background="transparent"  speed="1"  style="width: 600px; height: 300px;"  loop  autoplay></lottie-player> -->
    <p  class="confirmationtitle" style="    text-align: center;
    font-family: Poppins Bold;
    font-size: 36pt;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 15px;">See you there!</p>
    <p class="confirmationsubtitle" style="    text-align: center;
    font-family: Poppins Regular;
    font-size: 18pt;
    margin-top: 15px;
    margin-bottom: 13px;
    margin-right: 550px;
    margin-left: 550px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Sed consectetur a, arcu senectus morbi. Enim fermentum tortor 
      egestas maecenas feugiat amet a. Pellentesque enim la cus at commodo.</p>
    <div style="text-align: center; margin-top: 26px;">
      <div class="grid-container" style="    display: inline-grid;
      grid-template-columns: auto auto;">
        <div class="grid-item" style="    display: inline-block;
        text-align: center;">
          <img class="googlecalendar" style="    width: 65px;
          height: 65px;
          border: 1px solid;
          border-color: rgb(224,224,224);
          border-radius: 5px;
          padding: 10px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Google_Calendar_icon.svg/1200px-Google_Calendar_icon.svg.png" alt="google calendar">
        </div>
        <div class="grid-item">
          <p class="addcalendar" style="    font-family: Poppins Regular;
          font-size: 18pt;
          text-align: center;
          margin-left: 15px;
          margin-top: 17.5px;
          margin-bottom: 0px;
          display: inline-block;">Add to Google Calendar</p>
        </div>
        </div>
      </div>
    </div>
    <div class="bottomgridcontainer" style="    margin-top: 75px;
    margin-bottom: 200px;
    margin-right: 0px;
    margin-left: 180px;
    display: grid;
    grid-template-columns: auto auto;">
      <div style="margin-right: 75px; margin-bottom: 34px;     height: 175px;
      text-align: center;" class="bottomgriditem">
        <div style="background-color: rgb(227,186,45);      float: left;
        border-radius: 10px;
        height: 175px;
        width: 515px;" class="calendarbackground">
          <img class="calendarimage" style="    position: absolute;
          margin-top: 14px;
          margin-left: 180px;" src="assets/images/Group104.png" alt="calendar">
          <div class="calendareventgroup" style="     margin: 20px;
          margin-left: 40px;">
            <p class="calendareventtitle" style="     text-align: left;
            margin: 0px;
            font-family: Poppins Bold;
            font-size: 18pt;
            margin-bottom: 5px;">Event Title</p>
            <p class="calendareventdetail" style="     text-align: left;
            margin: 0px;
            font-family: Poppins Regular;
            font-size: 14pt;">24th July, 2020</p>
            <p class="calendareventdetail" style="text-align: left;
            margin: 0px;
            font-family: Poppins Regular;
            font-size: 14pt;">Time (ET/Time (PT)</p>
            <p class="calendareventdetail" style="text-align: left;
            margin: 0px;
            font-family: Poppins Regular;
            font-size: 14pt;">Zoom</p>
          </div>
        </div>
        <p class="calendareventmonth" style="     text-align: center;
        position: absolute;
        font-family: Poppins Bold;
        font-size: 18pt;
        color: white;
        margin-left: 482.5px;">July</p>
        <p class="calendareventdate" style="    text-align: center;
        position: absolute;
        font-family: Poppins Bold;
        font-size: 36pt;
        margin-left: 480px;
        margin-top: 60px;">24</p>
        <p class="calendareventday" style="    text-align: center;
        position: absolute;
        font-family: Poppins Regular;
        font-size: 14pt;
        color: rgb(130,130,130);
        margin-left: 480px;
        margin-top: 115px;">Friday</p>
      </div>
      <div style="margin-bottom: 34px;     height: 175px;
      text-align: center;" class="bottomgriditem">
        <div style="background-color: #F39D9E; float: left;
        border-radius: 10px;
        height: 175px;
        width: 515px;" class="calendarbackground">
          <img class="calendarimage" style="position: absolute;
          margin-top: 14px;
          margin-left: 180px;" src="assets/images/Group104.png" alt="calendar">
          <div class="calendareventgroup" style="margin: 20px;
          margin-left: 40px;">
            <p class="calendareventtitle" style="text-align: left;
            margin: 0px;
            font-family: Poppins Bold;
            font-size: 18pt;
            margin-bottom: 5px;">Event Title</p>
            <p class="calendareventdetail" style="text-align: left;
            margin: 0px;
            font-family: Poppins Regular;
            font-size: 14pt;">24th July, 2020</p>
            <p class="calendareventdetail" style="text-align: left;
            margin: 0px;
            font-family: Poppins Regular;
            font-size: 14pt;">Time (ET/Time (PT)</p>
            <p class="calendareventdetail" style="text-align: left;
            margin: 0px;
            font-family: Poppins Regular;
            font-size: 14pt;">Zoom</p>
          </div>
        </div>
        <p class="calendareventmonth" style="text-align: center;
        position: absolute;
        font-family: Poppins Bold;
        font-size: 18pt;
        color: white;
        margin-left: 482.5px;">Aug</p>
        <p class="calendareventdate" style="margin-left: 495px;     text-align: center;
        position: absolute;
        font-family: Poppins Bold;
        font-size: 36pt;
        margin-left: 480px;
        margin-top: 60px;">7</p>
        <p class="calendareventday" style="    text-align: center;
        position: absolute;
        font-family: Poppins Regular;
        font-size: 14pt;
        color: rgb(130,130,130);
        margin-left: 480px;
        margin-top: 115px;">Friday</p>
      </div>
      <div style="margin-right: 75px;     height: 175px;
      text-align: center;" class="bottomgriditem">
        <div style="background-color: #F39D9E; float: left;
        border-radius: 10px;
        height: 175px;
        width: 515px;" class="calendarbackground">
          <img class="calendarimage" style="position: absolute;
          margin-top: 14px;
          margin-left: 180px;" src="assets/images/Group104.png" alt="calendar">
          <div class="calendareventgroup" style="margin: 20px;
          margin-left: 40px;">
            <p class="calendareventtitle" style="text-align: left;
            margin: 0px;
            font-family: Poppins Bold;
            font-size: 18pt;
            margin-bottom: 5px;">Event Title</p>
            <p class="calendareventdetail" style="text-align: left;
            margin: 0px;
            font-family: Poppins Regular;
            font-size: 14pt;">24th July, 2020</p>
            <p class="calendareventdetail" style="text-align: left;
            margin: 0px;
            font-family: Poppins Regular;
            font-size: 14pt;">Time (ET/Time (PT)</p>
            <p class="calendareventdetail" style="text-align: left;
            margin: 0px;
            font-family: Poppins Regular;
            font-size: 14pt;">Zoom</p>
          </div>
        </div>
        <p class="calendareventmonth" style="text-align: center;
        position: absolute;
        font-family: Poppins Bold;
        font-size: 18pt;
        color: white;
        margin-left: 482.5px;">Aug</p>
        <p class="calendareventdate" style="margin-left: 485px;     text-align: center;
        position: absolute;
        font-family: Poppins Bold;
        font-size: 36pt;
        margin-left: 480px;
        margin-top: 60px;">21</p>
        <p class="calendareventday" style="    text-align: center;
        position: absolute;
        font-family: Poppins Regular;
        font-size: 14pt;
        color: rgb(130,130,130);
        margin-left: 480px;
        margin-top: 115px;">Friday</p>
      </div>
      <div class="bottomgriditem" style="    height: 175px;
      text-align: center;">
        <div style="background-color: rgb(111,207,151); float: left;
        border-radius: 10px;
        height: 175px;
        width: 515px;" class="calendarbackground">
          <img class="calendarimage" style="position: absolute;
          margin-top: 14px;
          margin-left: 180px;" src="assets/images/Group104.png" alt="calendar">
          <div class="calendareventgroup" style="margin: 20px;
          margin-left: 40px;">
            <p class="calendareventtitle" style="text-align: left;
            margin: 0px;
            font-family: Poppins Bold;
            font-size: 18pt;
            margin-bottom: 5px;">Event Title</p>
            <p class="calendareventdetail" style="text-align: left;
            margin: 0px;
            font-family: Poppins Regular;
            font-size: 14pt;">24th July, 2020</p>
            <p class="calendareventdetail" style="text-align: left;
            margin: 0px;
            font-family: Poppins Regular;
            font-size: 14pt;">Time (ET/Time (PT)</p>
            <p class="calendareventdetail" style="text-align: left;
            margin: 0px;
            font-family: Poppins Regular;
            font-size: 14pt;">Zoom</p>
          </div>
        </div>
        <p class="calendareventmonth" style="text-align: center;
        position: absolute;
        font-family: Poppins Bold;
        font-size: 18pt;
        color: white;
        margin-left: 482.5px;">Sept</p>
        <p class="calendareventdate" style="margin-left: 485px;     text-align: center;
        position: absolute;
        font-family: Poppins Bold;
        font-size: 36pt;
        margin-left: 480px;
        margin-top: 60px;">15</p>
        <p class="calendareventday" style="    text-align: center;
        position: absolute;
        font-family: Poppins Regular;
        font-size: 14pt;
        color: rgb(130,130,130);
        margin-left: 480px;
        margin-top: 115px;">Friday</p>
      </div>
    </div>
</ion-content>