<div class="ttc-body">
  <div class="stem-socials-img-div">
    <img
      class="stem-socials-img"
      src="assets/images/stem-socials-page-header.jpg"
      alt="Header Image"
    />
    <div class="stem-socials-header-rectangle">
      <div class="stem-socials-header-rectangle-text">Let's Talk Tech & Education</div>
    </div>
    <div class="stem-socials-header-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus velit
      adipiscing duis suspendisse sit purus. Faucibus sodales libero integer
      eget mauris nibh odio ullamcorper. Ac ultricies diam urna, aliquet
      integer.
    </div>
  </div>  
</div>

<ion-content> </ion-content>
