<ion-content>
  <div class="ttc-body">
    <div class="careers-header1">
      <img
        class="careers-header1-img"
        src="assets/images/lego.jpg"
        alt="Library Image"
      />
      <div class="careers-header1-rectangle">
        <div class="careers-header1-rectangle-text">
          Become a part of our team
        </div>
      </div>
      <div class="careers-header1-body">
        Aximusae resto ipis inctibu sdandebis exerovid eaquia niendandit lab id
        eosaniente autatquam rem laturi doluptur re verrovitiat quaspidem faccae
        pedit exeruptatia atium erspit volorro coribusciet qui sitaecus sed
        maximus dolenis dio idus as eossusant est, quam quos debistioria volupta
        sita que poribus esse sam reicia veliqui blaborem.
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
