<ion-content>
  <div class="ttc-body">
    <div class="careers-header1">
      <img
        class="careers-header1-img"
        src="assets/images/lego.jpg"
        alt="Library Image"
      />
      <div class="careers-header1-rectangle">
        <div class="careers-header1-rectangle-text">
          Become a part of our team
        </div>
      </div>
      <div class="careers-header1-body">
        Aximusae resto ipis inctibu sdandebis exerovid eaquia niendandit lab id
        eosaniente autatquam rem laturi doluptur re verrovitiat quaspidem faccae
        pedit exeruptatia atium erspit volorro coribusciet qui sitaecus sed
        maximus dolenis dio idus as eossusant est, quam quos debistioria volupta
        sita que poribus esse sam reicia veliqui blaborem.
      </div>
    </div>
  </div>
  <ion-grid
    class="careerbottomgrid"
    style="margin-top: 5.209%; margin-bottom: 8.75%"
  >
    <ion-row class="toprow" style="margin-bottom: 3.25%">
      <ion-col
        class="titlelabel"
        size="8.2"
        style="
          font-family: 'Poppins Regular';
          font-size: 18pt;
          color: #828282;
          margin-left: 9.351%;
        "
        >Title</ion-col
      >
      <ion-col
        class="locationlabel"
        size="100%"
        syle="    font-family: 'Poppins Regular';
      font-size: 18pt;
      color: #828282;"
        >Location</ion-col
      >
    </ion-row>
    <ion-row class="careersrow" style="margin-top: 1%; margin-bottom: 1%">
      <ion-col
        class="titlemargin"
        size="8.2"
        style="margin-top: 2.409%; margin-bottom: 2.409%; margin-left: 9.351%"
        ><button
          class="title"
          style="
            font-family: 'Poppins Bold';
            font-size: 24pt;
            color: #e3ba2d;
            border: none;
            background: none;
          "
        >
          Enrichment Instructor
        </button></ion-col
      >
      <ion-col
        class="location"
        size="100%"
        style="
          font-family: 'Poppins Regular';
          font-size: 24pt;
          margin-top: 1.85%;
        "
        >Richmond, CA</ion-col
      >
    </ion-row>
    <ion-row>
      <hr
        style="
          width: 82%;
          margin-left: 9.25%;
          color: rgb(224, 224, 224);
          background-color: rgb(224, 224, 224);
        "
      />
    </ion-row>
    <ion-row class="careersrow" style="margin-top: 1%; margin-bottom: 1%">
      <ion-col
        class="titlemargin"
        size="8.2"
        style="margin-top: 2.409%; margin-bottom: 2.409%; margin-left: 9.351%"
        ><button class="title"           style="
        font-family: 'Poppins Bold';
        font-size: 24pt;
        color: #e3ba2d;
        border: none;
        background: none;
      ">Designer</button></ion-col
      >
      <ion-col
        class="location"
        size="100%"
        style="
          font-family: 'Poppins Regular';
          font-size: 24pt;
          margin-top: 1.85%;
        "
        >Remote</ion-col
      >
    </ion-row>
    <ion-row>
      <hr
        style="
          width: 82%;
          margin-left: 9/25%;
          color: rgb(224, 224, 224);
          background-color: rgb(224, 224, 224);
        "
      />
    </ion-row>
    <ion-row class="careersrow" style="margin-top: 1%; margin-bottom: 1%">
      <ion-col
        class="titlemargin"
        size="8.2"
        style="margin-top: 2.409%; margin-bottom: 2.409%; margin-left: 9.351%"
        ><button class="title"           style="
        font-family: 'Poppins Bold';
        font-size: 24pt;
        color: #e3ba2d;
        border: none;
        background: none;
      ">Digital Marketer</button></ion-col
      >
      <ion-col
        class="location"
        size="100%"
        style="
          font-family: 'Poppins Regular';
          font-size: 24pt;
          margin-top: 1.85%;
        "
        >Remote</ion-col
      >
    </ion-row>
    <ion-row>
      <hr
        style="
          width: 82%;
          margin-left: 9.25%;
          color: rgb(224, 224, 224);
          background-color: rgb(224, 224, 224);
        "
      />
    </ion-row>
    <ion-row class="careersrow" style="margin-top: 1%; margin-bottom: 1%">
      <ion-col
        class="titlemarginbottom"
        size="8.2"
        style="margin-top: 1.409%; margin-left: 9.351%"
        ><button class="title"           style="
        font-family: 'Poppins Bold';
        font-size: 24pt;
        color: #e3ba2d;
        border: none;
        background: none;
      ">Administrative Staff</button></ion-col
      >
      <ion-col
        class="location"
        size="100%"
        style="
          font-family: 'Poppins Regular';
          font-size: 24pt;
          margin-top: 1.85%;
        "
        >Remote</ion-col
      >
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
